# A2C API -- OpenAPI 3.0.3 (PUBLIC / partner-facing contract)
# Same 95 routes and schemas as openapi_v1.yaml, with internal-only vendor extensions
# (x-legacy-rpc-method, x-schema-confidence) removed. Generated from generate_openapi_spec.py.
openapi: 3.0.3
info:
  title: OpenAgriNet Access to Credit (A2C) API
  version: 1.0.0
  description: 'REST API for the OpenAgriNet Access to Credit platform, covering bank onboarding, loan
    product cataloging, the farmer-facing marketplace, loan underwriting, Fayda national ID consent capture,
    and platform notifications.


    This document supersedes the team''s original RPC-bridge specification (`POST /api/method/<dotted.path>`
    for every operation). Routes, verbs, and per-operation response schemas here reflect the REST facade
    design in `A2C_API_REST_Routing_Map.md`.


    Response schemas are typed per operation from the platform''s documented request/response examples;
    a small number of endpoints without a documented example carry a schema inferred from the corresponding
    request shape -- see each schema''s own `description` field for a note where that applies.'
  contact:
    name: OpenAgriNet Support
    email: admin@openagrinet.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.a2c.openagrinet.org
  description: Production
- url: https://api.staging.a2c.openagrinet.org
  description: Staging
tags:
- name: Identity & Access
  description: Registration, login, token lifecycle, and the caller's own profile.
- name: Bank Onboarding & Administration
  description: Bank registration, KYC, organizational profile, and team management.
- name: Bank Cataloging
  description: Loan product authoring, marketplace taxonomy, and pipeline configuration.
- name: Catalog Discovery
  description: Farmer-facing marketplace browsing.
- name: Applications (Farmer Self-Service)
  description: The farmer's own loan application draft and submission.
- name: CRM - Leads & Field Ops
  description: Lead capture, qualification, and field-visit scheduling (Development Agent).
- name: Loan Underwriting
  description: Bank-scoped loan application review and pipeline movement.
- name: Consent Management
  description: Fayda national ID consent capture and the inbound registry webhook.
- name: Notifications
  description: In-app notifications for the signed-in user.
- name: Inbound Webhooks
  description: Server-to-server receivers for external systems.
security:
- BearerAuth: []
paths:
  /v1/auth/register:
    post:
      summary: Register a new account
      tags:
      - Identity & Access
      operationId: post_v1_auth_register
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
  /v1/auth/login:
    post:
      summary: Log in
      tags:
      - Identity & Access
      operationId: post_v1_auth_login
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LoginData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
  /v1/auth/token/refresh:
    post:
      summary: Refresh an access token
      tags:
      - Identity & Access
      operationId: post_v1_auth_token_refresh
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TokenPairData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
  /v1/auth/logout:
    post:
      summary: Log out
      tags:
      - Identity & Access
      operationId: post_v1_auth_logout
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
  /v1/auth/password/forgot:
    post:
      summary: Request a password-recovery code
      tags:
      - Identity & Access
      operationId: post_v1_auth_password_forgot
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
  /v1/auth/password/reset:
    post:
      summary: Reset password with a recovery code
      tags:
      - Identity & Access
      operationId: post_v1_auth_password_reset
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
  /v1/auth/password/initial:
    post:
      summary: Set initial password (invited users)
      tags:
      - Identity & Access
      operationId: post_v1_auth_password_initial
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitialPasswordRequest'
  /v1/me/password:
    patch:
      summary: Change the current user's password
      tags:
      - Identity & Access
      operationId: patch_v1_me_password
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
  /v1/me:
    get:
      summary: Get the current user's identity
      tags:
      - Identity & Access
      operationId: get_v1_me
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/IdentityData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/me/profile:
    get:
      summary: Get the current user's full profile
      tags:
      - Identity & Access
      operationId: get_v1_me_profile
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProfileData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    patch:
      summary: Update the current user's profile
      tags:
      - Identity & Access
      operationId: patch_v1_me_profile
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
  /v1/banks:
    post:
      summary: Register a new bank
      tags:
      - Bank Onboarding & Administration
      operationId: post_v1_banks
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BankRegisteredData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBankRequest'
  /v1/banks/me:
    get:
      summary: Get the caller's bank profile
      tags:
      - Bank Onboarding & Administration
      operationId: get_v1_banks_me
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BankProfileData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    patch:
      summary: Update the caller's bank profile
      tags:
      - Bank Onboarding & Administration
      operationId: patch_v1_banks_me
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBankProfileRequest'
  /v1/banks/me/status:
    patch:
      summary: Update the bank's onboarding status
      tags:
      - Bank Onboarding & Administration
      operationId: patch_v1_banks_me_status
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBankStatusRequest'
  /v1/banks/me/kyc-documents:
    post:
      summary: Upload the bank's KYC document
      tags:
      - Bank Onboarding & Administration
      operationId: post_v1_banks_me_kyc-documents
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FileUploadData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadKycRequest'
    get:
      summary: Download the bank's KYC document
      tags:
      - Bank Onboarding & Administration
      operationId: get_v1_banks_me_kyc-documents
      parameters:
      - name: view
        in: query
        required: false
        schema:
          type: integer
          nullable: true
        description: 1 to render inline; omit to download.
      responses:
        '200':
          description: The raw file content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/images:
    post:
      summary: Upload an image (bank logo or user avatar)
      tags:
      - Bank Onboarding & Administration
      operationId: post_v1_images
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FileUploadData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadImageRequest'
  /v1/banks/me/contacts:
    put:
      summary: Set GRO/OPS compliance contacts
      tags:
      - Bank Onboarding & Administration
      operationId: put_v1_banks_me_contacts
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveOrgContactsRequest'
  /v1/banks/me/team:
    get:
      summary: List the bank's team members
      tags:
      - Bank Onboarding & Administration
      operationId: get_v1_banks_me_team
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TeamListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    post:
      summary: Invite a team member
      tags:
      - Bank Onboarding & Administration
      operationId: post_v1_banks_me_team
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteTeamMemberRequest'
  /v1/banks/me/team/{userId}:
    patch:
      summary: Update a team member
      tags:
      - Bank Onboarding & Administration
      operationId: patch_v1_banks_me_team_userId
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: Team member's email address
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTeamMemberRequest'
  /v1/banks/me/team/{userId}/password-reset:
    post:
      summary: Reset a team member's password
      tags:
      - Bank Onboarding & Administration
      operationId: post_v1_banks_me_team_userId_password-reset
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: Team member's email address
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetMemberPasswordRequest'
  /v1/banks/me/dashboard/stats:
    get:
      summary: Get the bank's dashboard metrics
      tags:
      - Bank Onboarding & Administration
      operationId: get_v1_banks_me_dashboard_stats
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DashboardStatsData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/banks/me/products:
    post:
      summary: Create one or more loan products
      tags:
      - Bank Cataloging
      operationId: post_v1_banks_me_products
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProductCreateData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
    get:
      summary: List the bank's loan products
      tags:
      - Bank Cataloging
      operationId: get_v1_banks_me_products
      parameters:
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Filter by status.
      - name: search
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Search product name.
      - name: category
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Filter by category id.
      - name: tag
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: Filter by tag id.
      - name: min_interest_rate
        in: query
        required: false
        schema:
          type: number
          nullable: true
        description: ''
      - name: max_interest_rate
        in: query
        required: false
        schema:
          type: number
          nullable: true
        description: ''
      - name: min_amount
        in: query
        required: false
        schema:
          type: number
          nullable: true
        description: ''
      - name: max_amount
        in: query
        required: false
        schema:
          type: number
          nullable: true
        description: ''
      - name: tenure_months
        in: query
        required: false
        schema:
          type: integer
          nullable: true
        description: Exact tenure match.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number.
      - name: page_size
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Items per page.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProductListData'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/banks/me/products/{id}:
    get:
      summary: Get a loan product
      tags:
      - Bank Cataloging
      operationId: get_v1_banks_me_products_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProductDetailData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    patch:
      summary: Update a loan product
      tags:
      - Bank Cataloging
      operationId: patch_v1_banks_me_products_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
  /v1/banks/me/products/{id}/status:
    patch:
      summary: Transition a product's status
      tags:
      - Bank Cataloging
      operationId: patch_v1_banks_me_products_id_status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProductMutationData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProductStatusRequest'
  /v1/banks/me/products/{id}/audit-log:
    get:
      summary: Get a product's status-change history
      tags:
      - Bank Cataloging
      operationId: get_v1_banks_me_products_id_audit-log
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProductAuditData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/banks/me/products/{id}/categories:
    put:
      summary: Set a product's categories
      tags:
      - Bank Cataloging
      operationId: put_v1_banks_me_products_id_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProductCategoriesRequest'
  /v1/banks/me/products/{id}/tags:
    put:
      summary: Set a product's tags
      tags:
      - Bank Cataloging
      operationId: put_v1_banks_me_products_id_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProductTagsRequest'
  /v1/banks/me/products/{id}/attributes:
    put:
      summary: Set a product's attributes
      tags:
      - Bank Cataloging
      operationId: put_v1_banks_me_products_id_attributes
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProductAttributesRequest'
  /v1/taxonomy/categories:
    get:
      summary: List marketplace categories
      tags:
      - Bank Cataloging
      operationId: get_v1_taxonomy_categories
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CategoryListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/taxonomy/tags:
    get:
      summary: List marketplace tags
      tags:
      - Bank Cataloging
      operationId: get_v1_taxonomy_tags
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TagListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/taxonomy/attributes:
    get:
      summary: List marketplace attributes
      tags:
      - Bank Cataloging
      operationId: get_v1_taxonomy_attributes
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AttributeListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/admin/taxonomy/categories:
    post:
      summary: Create a marketplace category
      tags:
      - Bank Cataloging
      operationId: post_v1_admin_taxonomy_categories
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TermCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCategoryRequest'
  /v1/admin/taxonomy/tags:
    post:
      summary: Create a marketplace tag
      tags:
      - Bank Cataloging
      operationId: post_v1_admin_taxonomy_tags
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TermCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
  /v1/admin/taxonomy/attribute-terms:
    post:
      summary: Create a product attribute term
      tags:
      - Bank Cataloging
      operationId: post_v1_admin_taxonomy_attribute-terms
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/TermCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttributeTermRequest'
  /v1/banks/me/pipeline-stages:
    get:
      summary: List the bank's pipeline stages
      tags:
      - Bank Cataloging
      operationId: get_v1_banks_me_pipeline-stages
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PipelineStageListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    post:
      summary: Add a pipeline stage
      tags:
      - Bank Cataloging
      operationId: post_v1_banks_me_pipeline-stages
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PipelineStageCreateData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPipelineStageRequest'
    put:
      summary: Reorder or replace the pipeline
      tags:
      - Bank Cataloging
      operationId: put_v1_banks_me_pipeline-stages
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PipelineStageListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncPipelineStagesRequest'
  /v1/catalog/products:
    get:
      summary: Browse the marketplace catalog
      tags:
      - Catalog Discovery
      operationId: get_v1_catalog_products
      parameters:
      - name: search
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: bank
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: loan_product
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: min_amount
        in: query
        required: false
        schema:
          maximum: 999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: max_amount
        in: query
        required: false
        schema:
          maximum: 999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: limit
        in: query
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        description: ''
      - name: start
        in: query
        required: false
        schema:
          default: 0
          minimum: 0
          title: Start
          type: integer
        description: ''
      - name: category
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: tag
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: region
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: is_saved
        in: query
        required: false
        schema:
          type: boolean
          nullable: true
        description: ''
      - name: min_tenure_months
        in: query
        required: false
        schema:
          maximum: 1200
          minimum: 0
          type: integer
          nullable: true
        description: ''
      - name: max_tenure_months
        in: query
        required: false
        schema:
          maximum: 1200
          minimum: 0
          type: integer
          nullable: true
        description: ''
      - name: max_interest_rate
        in: query
        required: false
        schema:
          maximum: 20.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: sort_by
        in: query
        required: false
        schema:
          default: product_name
          enum:
          - product_name
          - interest_low_high
          - interest_high_low
          - amount_low_high
          - amount_high_low
          - tenure_low_high
          - newest
          title: Sort By
          type: string
        description: ''
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CatalogListData'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/catalog/banks/{bankId}:
    get:
      summary: Get a bank's storefront detail
      tags:
      - Catalog Discovery
      operationId: get_v1_catalog_banks_bankId
      parameters:
      - name: bankId
        in: path
        required: true
        schema:
          type: string
        description: Bank document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/BankStorefrontData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/catalog/facets:
    get:
      summary: Get catalog filter options
      tags:
      - Catalog Discovery
      operationId: get_v1_catalog_facets
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CatalogFacetsData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/catalog/saved-products:
    get:
      summary: List the caller's saved products
      tags:
      - Catalog Discovery
      operationId: get_v1_catalog_saved-products
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/SavedProductsData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/catalog/saved-products/{productId}:
    put:
      summary: Save a product
      tags:
      - Catalog Discovery
      operationId: put_v1_catalog_saved-products_productId
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    delete:
      summary: Remove a saved product
      tags:
      - Catalog Discovery
      operationId: delete_v1_catalog_saved-products_productId
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
        description: Product document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/me/dashboard:
    get:
      summary: Get the farmer's dashboard summary
      tags:
      - Catalog Discovery
      operationId: get_v1_me_dashboard
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FarmerDashboardData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/applications:
    post:
      summary: Create a draft application
      tags:
      - Applications (Farmer Self-Service)
      operationId: post_v1_applications
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FarmerApplicationCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
    get:
      summary: List the farmer's applications
      tags:
      - Applications (Farmer Self-Service)
      operationId: get_v1_applications
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FarmerApplicationListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/applications/{id}:
    get:
      summary: Get an application
      tags:
      - Applications (Farmer Self-Service)
      operationId: get_v1_applications_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Application document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/FarmerApplicationData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    patch:
      summary: Update a draft application
      tags:
      - Applications (Farmer Self-Service)
      operationId: patch_v1_applications_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Application document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
  /v1/applications/{id}/submit:
    post:
      summary: Submit an application to the bank
      tags:
      - Applications (Farmer Self-Service)
      operationId: post_v1_applications_id_submit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Application document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads:
    post:
      summary: Create a lead
      tags:
      - CRM - Leads & Field Ops
      operationId: post_v1_leads
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeadRequest'
    get:
      summary: List and search leads
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads
      parameters:
      - name: start
        in: query
        required: false
        schema:
          minimum: 0
          type: integer
          nullable: true
        description: ''
      - name: page_length
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          nullable: true
        description: ''
      - name: search_query
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: status
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: lead_source
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: loan_type
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: assigned_to
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: min_loan_amount
        in: query
        required: false
        schema:
          maximum: 999999999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: max_loan_amount
        in: query
        required: false
        schema:
          maximum: 999999999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: sort_by
        in: query
        required: false
        schema:
          enum:
          - loan_amount
          - creation
          type: string
          nullable: true
        description: ''
      - name: sort_order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          nullable: true
        description: ''
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadListData'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/summary:
    get:
      summary: Get lead counts by status
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_summary
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadSummaryData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/metadata:
    get:
      summary: Get lead form dropdown options
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_metadata
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadMetadataData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/assignable-users:
    get:
      summary: List assignable agents
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_assignable-users
      parameters:
      - name: search_query
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: start
        in: query
        required: false
        schema:
          minimum: 0
          type: integer
          nullable: true
        description: ''
      - name: page_length
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          nullable: true
        description: ''
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AssignableUsersData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/{id}/status:
    patch:
      summary: Update a lead's status
      tags:
      - CRM - Leads & Field Ops
      operationId: patch_v1_leads_id_status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeadStatusRequest'
  /v1/leads/{id}/assignment:
    patch:
      summary: Assign a lead to an agent
      tags:
      - CRM - Leads & Field Ops
      operationId: patch_v1_leads_id_assignment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignLeadRequest'
  /v1/leads/{id}/comments:
    post:
      summary: Add a comment to a lead
      tags:
      - CRM - Leads & Field Ops
      operationId: post_v1_leads_id_comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadCommentData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLeadCommentRequest'
  /v1/leads/{id}/timeline:
    get:
      summary: Get a lead's activity timeline
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_id_timeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadTimelineData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/{id}/call-logs:
    get:
      summary: Get a lead's call history
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_id_call-logs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadCallLogsData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/leads/{id}/credit-info:
    get:
      summary: List credit information for a lead
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_leads_id_credit-info
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadCreditInfoListData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    post:
      summary: Add credit information for a lead
      tags:
      - CRM - Leads & Field Ops
      operationId: post_v1_leads_id_credit-info
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Lead document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LeadCreditInfoCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLeadCreditInfoRequest'
  /v1/visit-schedules:
    get:
      summary: List scheduled visits
      tags:
      - CRM - Leads & Field Ops
      operationId: get_v1_visit-schedules
      parameters:
      - name: lead_id
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: status
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: start
        in: query
        required: false
        schema:
          minimum: 0
          type: integer
          nullable: true
        description: ''
      - name: page_length
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          nullable: true
        description: ''
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/VisitScheduleListData'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
    post:
      summary: Schedule a field visit
      tags:
      - CRM - Leads & Field Ops
      operationId: post_v1_visit-schedules
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/VisitScheduleCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleVisitRequest'
  /v1/visit-schedules/{id}/status:
    patch:
      summary: Update a visit's status
      tags:
      - CRM - Leads & Field Ops
      operationId: patch_v1_visit-schedules_id_status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Visit schedule document id
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MessageData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVisitStatusRequest'
  /v1/loan-applications:
    post:
      summary: Convert a lead into a loan application
      tags:
      - Loan Underwriting
      operationId: post_v1_loan-applications
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LoanApplicationCreatedData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoanApplicationRequest'
    get:
      summary: List loan applications
      tags:
      - Loan Underwriting
      operationId: get_v1_loan-applications
      parameters:
      - name: status
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: loan_amount
        in: query
        required: false
        schema:
          maximum: 999999999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: min_loan_amount
        in: query
        required: false
        schema:
          maximum: 999999999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: max_loan_amount
        in: query
        required: false
        schema:
          maximum: 999999999999.0
          minimum: 0
          type: number
          nullable: true
        description: ''
      - name: loan_type
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: location
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: phone_number
        in: query
        required: false
        schema:
          maxLength: 50
          type: string
          nullable: true
        description: ''
      - name: loan_officer
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: from_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: to_date
        in: query
        required: false
        schema:
          type: string
          nullable: true
        description: ''
      - name: page
        in: query
        required: false
        schema:
          minimum: 1
          type: integer
          nullable: true
        description: ''
      - name: page_size
        in: query
        required: false
        schema:
          maximum: 100
          minimum: 1
          type: integer
          nullable: true
        description: ''
      - name: lead_id
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: search_query
        in: query
        required: false
        schema:
          maxLength: 140
          type: string
          nullable: true
        description: ''
      - name: sort_by
        in: query
        required: false
        schema:
          enum:
          - loan_amount
          - creation
          type: string
          nullable: true
        description: ''
      - name: sort_order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          nullable: true
        description: ''
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LoanApplicationListData'
                    pagination:
                      $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/loan-applications/summary:
    get:
      summary: Get loan totals by pipeline status
      tags:
      - Loan Underwriting
      operationId: get_v1_loan-applications_summary
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LoanSummaryData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
          $ref: '#/components/responses/500InternalError'
      security:
      - BearerAuth: []
  /v1/loan-applications/metadata:
    get:
      summary: Get loan status dropdown options
      tags:
      - Loan Underwriting
      operationId: get_v1_loan-applications_metadata
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/StandardSuccessResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/LoanMetadataData'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429RateLimited'
        '500':
[...]
